body{
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

img {
    width: 100%;
}

#main {
    /* width: 1024px; */
    margin-left: auto;
    margin-right: auto;
}

#header {
    padding:20px;
    overflow: hidden;
}

#logo {
    float: left;
}

#menu {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;
}

a:link, a:visited {
    color: #3b3b3b;
    text-decoration: none;
    font-size: 20px;
}

#content {
    padding: 20px;
    overflow: hidden;
}

.subcontent {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.subcontent img {
    width: 50%;
}

#footer {
    background-color: #454242;
    padding: 20px;
    overflow: hidden;
}

.footer-content {
    width: 25%;
    float: left;
    color: #fff;
}

#footer ul li {
    display: block;
    padding-left: 0;
}